extends layout

block content

    #displayArea.container
        #mapCanvas map
        #keyCanvas
            canvas#mapKey(height='310', width='105') key
        #infoCanvas
            #infoTitle
                h2#header2 Hampshire County
            #buttonPanel
                input#address(type='textbox', value='durley')

                input#findButton(type='button' class='btn' value='GO')

                input#backButton(type='button' class='btn' value='<')
                select#yearList
                input#forwardButton(type='button' class='btn' value='>')

            #dataBox


